.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center vertically */
    margin: 0px;
    padding: 0px;
  }
  
  form {
    width: 300px;            
    border: 1px solid black;          
    height: auto;  /* Adjust the height to fit the content */          
    padding: 30px;            
    margin: 45px auto;  /* Center the form horizontally */         
    display: flex;           
    flex-direction: column;   
    justify-content: center;  
    align-items: center;  
    gap: 15px;    /* Add space between form elements */
    background-color: #f8f9fa; /* Light gray background for the form */
    border-radius: 8px; /* Rounded corners */
  }
  
  form .btn-primary {
    width: 100%; /* Full-width submit button */
  }
  
  @media print {
    .container {
      width: auto;
    }
  }
  