/* MediaDetail.module.css */

.container {
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .title {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .media img,
  .media video {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .description {
    font-size: 18px;
    color:black;
    font-family: Arial;

    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .date {
    color: blue;
    font-size: 15px;
  }
  