body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  .form-container {
    display: flex; /* Use flexbox for layout */
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items at the start */
    /* margin: 50px; */
  }
  
  .transaction-form {
    max-width: 500px;
    margin-right: 5px; /* Very minimal space between the form and the welcome text */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transaction-form h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px; /* Font size for form heading */
  }
  
  .transaction-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  .transaction-form input,
  .transaction-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .transaction-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .transaction-form button:hover {
    background-color: #0056b3;
  }
  
  .welcome-message {
    text-align: left; /* Align the welcome text to the left */
    max-width: 450px; /* Limit the width of the welcome message */
    margin-top: 150px;
  }
  
  .welcome-message h1 {
    color: #3192af;
    font-size: 30px; 
    gap: 30px;
  }
  
  .welcome-message p {
    color: #666;
    font-size: 18px; /* Font size for welcome message paragraph */
  }
  
  .message {
    margin-top: 10px;
    color: #d9534f; /* Change this color for error messages */
  }
  