
body{
  background-image: url('assert/istockphoto-1496154102-1024x1024.jpg');

}
.App{
  border: solid;
  width: 300px;
  height: 350px;
  margin: 100px 0px 0px 400px;
  background-color: rgb(128, 0, 111);
  border-radius: 30px;
  
}
#login{
  margin-left: 15px;
  
}
form{
  display: flex;
  flex-direction: column;
  padding: 70px;
  gap: 20px;
  font-style: normal;
  
  
  
}