.body {
  background-image: url('assert/istockphoto-1496154102-1024x1024.jpg');
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border: solid;
  width: 300px; /* Adjusted width for better visibility */
  background-color: rgb(128, 0, 111);
  border-radius: 30px;
  text-align: center;
  padding: 40px; /* Adjusted padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a slight shadow for better aesthetics */

}
form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  font-style: normal;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}
.back{
  background-color: chocolate;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wellcome{
  text-align: center;


}
.wellcome:hover{
  color: aqua;
  transform: scale(1.05);
}
img{
  width:
}
